@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf") format("opentype"); 
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #84E0AD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin: auto;
}

header {
    background-image: linear-gradient(#3BD680, #2EA563, #298D56, #195C37);
    margin: -21px 0px 0px 0px ;
    color: white;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: center;
    padding: 30px 0px 0px 0px ;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: rgb(238, 234, 234);
}

nav {
    background-color:#237247b9;
    padding: 5px;
}
nav > a {
    color: #6cc997;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
nav > a:hover {
    background-color:#298D56 ;
    border-radius: 4px;  
}

main {
    background-color: white;
    margin: 0px 40px 5px ;
    padding: 15px;
}
#historia {
    font-family: "idroid";
    text-align: left;
    font-weight: normal;
    font-size: 2em;
    color: #195C37;
    margin: 0px;
    padding: 2px;
}

.subtitulo {
    font-family:"idroid" ;
    font-weight: normal;
    color: #195C37;
    background-image: linear-gradient(to right,#84e0adb0,#a9f7cc77 ,white);
    border-radius: 2px;
}

#lista {
    background-color: #84e0ad79;
    margin: 0px;
    padding: 5px;
    border-radius: 0px 0px 8px 8px;
}

#cabecalho2  {
    border-radius: 8px 8px 0px 0px;
    padding: 3px;
    background-image: linear-gradient(to left, #3bd681d5, #2ea564d8, #298d56e0, #195c37cb);
}
#cabecalho2 > h1 {
    margin: 0px;
}

#cab2 {
    font-size: 1.5em;
    text-align: left;
    padding: 2px;
}

footer {
    text-align: center;
    color: white;
    background-color:#195C37 ;
    padding: 4px;
    margin: 15px 0px -18px 0px;
}
footer > p {
    margin: 0px;
}

p {
    text-indent: 20px;
}